spacy==3.4.4
spacy-streamlit==1.0.4
click==8.0.4
streamlit==1.7.0
pandas==1.5.2
numpy==1.23.5
requests==2.28.1
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.0/en_core_web_md-3.4.0-py3-none-any.whl
ko_core_news_md @ https://github.com/explosion/spacy-models/releases/download/ko_core_news_md-3.4.0/ko_core_news_md-3.4.0-py3-none-any.whl
